[Unit]
Description=Fan controlled cpu temperature
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/src/rpi-temp-control/rpictrl/controller.py -p 12 -d 20 -t 55
Restart=on-failure

[Install]
WantedBy=multi-user.target
